name: Frontend PR Check

on:
  pull_request:
    branches: [main, dev]
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-test-pr.yml"

jobs:
  test-frontend-dev:
    runs-on: ubuntu-latest
    if: github.base_ref == 'dev'
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Frontend Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      - name: Run Type Check
        run: npx tsc --noEmit

      - name: Run Tests
        run: npm test

      - name: Build Application
        env:
          NODE_ENV: development
          NEXT_PUBLIC_API_URL: http://localhost:8080/api
          NEXT_PUBLIC_ENV: development
        run: npm run build

  test-frontend-prod:
    runs-on: ubuntu-latest
    if: github.base_ref == 'main'

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install Frontend Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      - name: Run Type Check
        run: npx tsc --noEmit

      - name: Run Tests
        run: npm test

      - name: Build Application
        env:
          NODE_ENV: production
          NEXT_PUBLIC_API_URL: http://localhost:8080/api
          NEXT_PUBLIC_ENV: test
        run: npm run build
